<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Clientes PJ',~{})}">
</head>

<body>
<main>
    <div class="container mt-5">
        <h2>Cadastro de Clientes PJ</h2>
        <form th:action="@{/pessoajuridica/save}" th:object="${pessoajuridica}" method="post">
            <div class="form-row">
                <div class="mb-2 col-lg-4">
                    <input type="hidden" th:field="*{id}">
                    <input class="form-control" type="text" th:field="*{razaoSocial}" placeholder="Razão Social">
                </div>
                <div class="mb-2 col-lg-4">
                    <input class="form-control" type="text" th:field="*{telefone}" placeholder="Telefone">
                </div>
                <div class="mb-2 col-lg-4">
                    <input class="form-control" type="text" th:field="*{email}" placeholder="E-mail">
                </div>
                <div class="mb-2 col-lg-4">
                    <input class="form-control" type="text" th:field="*{cnpj}" placeholder="CNPJ">
                </div>
                <div class="mb-2 col-lg-4">
                    <button class="btn btn-outline-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>