<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}">
</head>

<body>
<main>
    <div class="container mt-5">
        <h2>Cadastro de Venda</h2>
        <form th:action="${venda.id == null} ? @{/venda/save} : @{/venda/update}" th:object="${venda}" method="post">
            <div class="form-row">
                <div class="mb-2 col-lg-4">
                    <input type="hidden" th:field="*{id}">
                    <input class="form-control" type="text" th:field="*{dataVenda}" placeholder="Data da Venda">
                </div>
                <div class="mb-2 col-lg-4" >
                    <select class="form-select" th:field="*{tipoPessoa}">
                        <option value="" selected>Tipo de Cliente</option>
                        <option value="fisica">Pessoa Física</option>
                        <option value="juridica">Pessoa Jurídica</option>
                    </select>
                </div>

                <div class="mb-2 col-lg-4">
                    <button class="btn btn-outline-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>