<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head('Cadastro de Produtos',~{})}"></head>

<body>

<main>
  <div class="container mt-5">
    <h4>Cadastro de Produto</h4>
    <form th:action="${produto.id == null} ? @{/produto/save} : @{/produto/update}"
          th:object="${produto}" method="post">
      <div class="form-row">
        <div class="mb-2 col-lg-4">
          <input type="hidden" th:field="*{id}">
          <input class="form-control" type="text" th:field="*{descricao}" placeholder="Descrição">
        </div>
        <div class="mb-2 col-lg-4">
          <input class="form-control" type="text" th:field="*{valor}" placeholder="Valor">
        </div>
        <div class="mb-2 col-lg-4">
          <button class="btn btn-outline-success">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</main>
</body>
</html>
