<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" lang="pt-br">

<head th:replace="~{fragments/head :: head('Lista de Produtos',~{})}">
</head>

<body>

<main>
    <div class="container mt-5 border p-3 rounded shadow">
        <h5>Lista de Produtos</h5>
        <div th:replace="~{fragments/msgerro :: msgerro}"></div>
        <form th:action="@{/produto/list}" class="border p-3 rounded shadow" method="get">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" name="descricao" class="form-control" placeholder="Descricao" th:value="${param.descricao}">
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary">Buscar</button>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover mt-5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th colspan="2" class="text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.descricao}"></td>
                <td th:text="${#numbers.formatCurrency(produto.valor)}"></td>
                <td CLASS="text-center">
                    <a th:href="@{/produto/edit/{id}(id=${produto.id})}" class="btn btn-outline-primary">Editar</a>
                </td>
                <td class="text-center">
                    <a th:href="@{/produto/remove/{id}(id=${produto.id})}" class="btn btn-outline-danger text-center" onclick="return confirm('Confirma a exclusão do produto?')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-success" th:onclick="|window.location.href='/produto/form'|">Novo Produto</button>
    </div>
</main>
</body>
</html>
